/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;

  background: #020617;

  font-family: "Inter", sans-serif;

  scroll-behavior: smooth;
}

/* GLOBAL CONTAINER FIX */
body {
  zoom: 0.92;
}

/* RESPONSIVE FIX */
img {
  max-width: 100%;
  display: block;
}

/* REMOVE HORIZONTAL SCROLL */
::-webkit-scrollbar-x {
  display: none;
}

/* BETTER RESPONSIVE */
.MuiBox-root {
  max-width: 100%;
}

/* PREVENT OVERFLOW */
section,
div {
  max-width: 100%;
}